<h1 class="hp-yellow">Welcome</h1>
<form (ngSubmit)="onSubmit()" #visitorForm="ngForm">
  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
                 tabindex="1"
                 [(ngModel)]="visitorFormData.name" name="name">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surName" required
                 tabindex="2"
                 [(ngModel)]="visitorFormData.surName" name="surName">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" required
                 tabindex="3"
                 [(ngModel)]="visitorFormData.email" name="email">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="company">Which company?</label>
          <select class="form-control" id="company" required
                  tabindex="4" (change)="onCompanyChange()"
                  [(ngModel)]="visitorFormData.company" name="company">
            <option *ngFor="let company of companies" [ngValue]="company">{{company.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="person">Who in {{visitorFormData.company?.name || '...'}}</label>
          <div class="clearfix "></div>
          <input type="text" class="form-control" id="person" required auto-complete
                 #person
                 tabindex="5"
                 [(ngModel)]="visitorFormData.person" name="person" [source]="visitorFormData.company?.employees"
                 value-property-name="employee"
                 display-property-name="name"
                 [disabled]="!visitorFormData.company">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="uppercase">Reason for your visit?</label>

          <div class="radio" *ngFor="let reason of reasons">
            <label>
              <input [(ngModel)]="visitorFormData.reason" type="radio" name="reason" [value]="reason"
                     tabindex="6">
              {{reason}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn animated arrow-right pull-right" [disabled]="!visitorForm.form.valid">
    Submit &gt;
  </button>
</form>

<small>Clicking on submit button you agree to share your personal information.</small>
